/**
 *  BNETDocs, the documentation and discussion website for Blizzard protocols
 *  Copyright (C) 2003-2018  "Arta", Don Cullen "Kyro", Carl Bennett, others
 *  This file is part of BNETDocs.
 *
 *  BNETDocs is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  BNETDocs is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with BNETDocs.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
  background: #272727 url("/a/main_bg.png") repeat fixed center;
  color: #ddd;
  font: 11pt source sans pro, verdana, arial, sans-serif;
  margin: 48px 0px;
  padding: 0px;
}
a,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: #00debf;
  text-decoration: none;
}
a:visited {
  color: #00ccad;
}
header.main-page {
  background-color: rgba(64,64,64,0.8);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  color: rgba(0,222,180,0.9);
  font: 20pt source sans pro, verdana, arial, sans-serif;
  left: 0px;
  line-height: 32px;
  padding: 8px 12px;
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header.main-page #mobile-nav {
  display: none;
}
nav {
  background-color: rgba(64,64,64,0.6);
  border-radius: 0px 0px 8px 8px;
  cursor: default;
  font: 12pt source sans pro, verdana, arial, sans-serif;
  line-height: 20px;
  margin: 0px 270px;
  max-height: calc(100% - 68px);
  overflow: auto;
  padding: 10px;
  position: fixed;
  right: 50%;
  width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
nav > a {
  color: inherit;
  cursor: default;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  padding-top: 10px;
}
nav > a:first-child {
  padding-top: 0px;
}
nav > a:hover {
  text-decoration: none;
}
nav > a[href] {
  cursor: pointer;
  font-family: source sans pro, verdana, arial, sans-serif;
  font-size: 12pt;
  font-weight: inherit;
  padding-top: 0px;
  padding-left: 10px;
}
nav > a[href]:hover {
  background-color: rgba(128,128,128,0.15);
  text-decoration: none;
}
nav > a#nav-current {
  background-image: url("/a/nav_arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
}
main {
  margin: auto;
  overflow: hidden;
  width: 1000px;
}
main > article {
  margin: 0px 0px 0px 224px;
  overflow: hidden;
  padding: 10px 8px 0px 16px;
}
main.slim > article {
  margin: 0px;
  overflow: hidden;
}
main > article > header,
main > article h1 {
  background-color: rgba(64,64,64,0.6);
  display: block;
  font: 14pt source sans pro;
  padding: 10px;
}
main > article h1 {
  margin: 10px 0px;
  margin-left: -10px;
  margin-right: -10px;
}
main > article h1:first-child {
  margin-top: 0px;
}
main > article h1:last-child {
  margin-bottom: 0px;
}
main > article > header.no-select {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main > article header.green {
  background-color: rgba(64,128,64,0.6);
}
main > article header.red {
  background-color: rgba(128,64,64,0.6);
}
main > article > header:first-of-type {
  border-radius: 8px 8px 0px 0px;
}
main > article .header-button {
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin: 4px 4px 4px 0px;
  padding: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
}
main > article section {
  background-color: rgba(64,64,64,0.4);
  padding: 10px;
}
main > article section.green {
  background-color: rgba(64,128,64,0.4);
}
main > article section.red {
  background-color: rgba(128,64,64,0.4);
}
main > article section.fixed-width-text {
  font-family: source code pro, courier new, monospace;
  font-size: 85%;
  white-space: pre-wrap;
}
main > article section:last-child {
  border-radius: 0px 0px 8px 8px;
}
main > article section > p:first-of-type {
  margin-top: 0px;
}
main > article section > p:last-of-type {
  margin-bottom: 0px;
}
main > article section img {
  max-width: 100%;
}
main > article > footer {
  background-color: rgba(64, 64, 64, 0.6);
  border-radius: 0px 0px 8px 8px;
  display: block;
  font: 12pt source sans pro;
  margin: 0px;
  min-height: 20px;
  padding: 10px;
}
article > footer time {
  font-size: 80%;
}
article > footer img.avatar {
  border-radius: 3px;
  float: left;
  max-height: 22px;
  max-width: 22px;
  margin: 0px 8px 0px 0px;
}
main > p.pagination {
  text-align: center;
  margin-left: 232px;
}
p.pagination > a {
  background-color: rgba(128,128,128,0.4);
  border: 0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  color: inherit;
  cursor: pointer;
  margin: 1px 0px;
  outline: none;
  padding: 4px 8px;
  text-align: center;
}
p.pagination > a.active {
  background-color: rgba(128,128,128,0.8);
}
footer.main-page {
  box-sizing: border-box;
  color: rgba(224,224,224,0.3);
  font: 9pt source code pro, monospace;
  margin: 32px auto 10px auto;
  overflow: hidden;
  padding: 0px 0px 0px 224px;
  text-align: center;
  width: 968px;
}
footer.main-page.slim {
  overflow: hidden;
  padding: 0px;
}
footer.main-page a:link,
footer.main-page a:visited,
footer.main-page.slim a:link,
footer.main-page.slim a:visited {
  color: rgba(0,204,173,0.4);
}
::-webkit-scrollbar {
  height: 0.8em;
  width: 0.8em;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: rgba(255,255,255,0.25);
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
p.left,
span.left,
th.left,
td.left,
input.left {
  text-align: left;
}
p.center,
span.center,
th.center,
td.center,
input.center {
  text-align: center;
}
p.justify,
span.justify,
th.justify,
td.justify,
input.justify {
  text-align: justify;
}
p.right,
span.right,
th.right,
td.right,
input.right {
  text-align: right;
}
p.red,
span.red,
th.red,
td.red {
  color: #d74747 !important;
}
p.green,
span.green,
th.green,
td.green {
  color: #47d747 !important;
}
p.blue,
span.blue
th.blue,
td.blue {
  color: #4747d7 !important;
}
.monospace {
  font-family: source code pro, courier new, monospace;
}
code {
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  font-family: source code pro, courier new, monospace;
  font-size: 85%;
  line-height: 16pt;
  margin: 0px;
  padding: 0.1em 0px 0.1em 0px;
}
code:before,
code:after {
  content: "\00a0";
  letter-spacing: -0.3em;
}
pre > code {
  background-color: rgba(255,255,255,0.05);
  border-radius: 5px;
  box-sizing: border-box;
  clear: both;
  display: block;
  line-height: 11pt;
  margin: 0px;
  overflow: auto;
  padding: 16px;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}
pre > code.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre > code:before,
pre > code:after {
  content: initial;
  letter-spacing: initial;
}
ol.decimal {
  list-style-type: decimal;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
}
ol.lower-latin {
  list-style-type: lower-latin;
}
blockquote {
  background-color: rgba(128,128,128,0.15);
  background-image: url("/a/quote-symbol.png");
  background-position: 4px 0px;
  background-repeat: no-repeat;
  border-radius: 6px;
  clear: both;
  margin: 0px 0px 8px 0px;
  min-height: 38px;
  padding: 1px 8px 1px 54px;
}
blockquote > ol,
blockquote > ul {
  padding-left: 22px;
}
table {
  border-collapse: collapse;
  border-width: 0px;
  width: 100%;
}
table th,
table td {
  border: 1px solid rgba(255,255,255,0.05);
  line-height: 22px;
  padding: 4px 6px;
}
table thead tr:first-child th,
table tbody tr:first-child th,
table tbody tr:first-child td {
  border-top: 0px;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
  border-bottom: 0px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 0px;
}
table tr th:last-child,
table tr td:last-child {
  border-right: 0px;
}
table img.avatar {
  border-radius: 3px;
  float: left;
  max-height: 22px;
  max-width: 22px;
  margin: 0px 8px 0px 0px;
}
hr {
  background-color: rgba(255,255,255,0.05);
  border: 0px;
  height: 5px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 10px 0px 0px 0px;
}
h2 {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  font-size: 13pt;
}
h3 {
  font-size: 12pt;
}
h4 {
  font-size: 11pt;
}
h5 {
  font-size: 10pt;
}
h6 {
  font-size: 9pt;
}
