*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.err
*.gz
*.iso
*.jar
*.log
*.patch
*.rar
*.swp
*.tar
*.vi
*.vim
*.zip
.DS_Store
.Spotlight-V100
.Trashes
._*
/etc/.rsync-target
/etc/config.phoenix.json
/etc/config.redux.json
/tmp/
Thumbs.db

/vendor/
