body{
	color: white;
	background: #111;
	margin: 0px;
	font-size: 14px;
	height:100%;
	width: 100%;
	padding:0;
	position: fixed;
	overflow: auto;
}

img{
	border: none;
}

#container{
	background-image: url(/images/starsfade.png);
	border: 1px solid black;
	padding: 1;
	margin: 10 0 0 0;	
	font-size: 12px;
}

#newscontainer{
	background-image: url(/images/starsfade.png);
	min-height: 150px;
	border: 1px solid black;
	font-size: 14px;
	padding: 1;
	margin: 10 0 0 0;	
}

div#punch2{
	float: left; 
	width: 100px; 
	height: 75px; 
	text-align: center; 
	color: white; 
	border-width: 0 1px 1px 0; 
	padding: 0 0 0 0; 
	margin: 10px 10px 0px 1px;
}

div#punch2 img{
	height: 75px; 
	width: 100px;
}

div#main2 h2{
	margin: 0; 
	padding: 0.25em 1em 0.125em 0; 
	background: #333; 
	text-transform: uppercase; 
	font-size: 120%;
	border-bottom: 1px solid #000;
	text-align: center; 
}

div#author{
	margin: 0; 
	text-transform: uppercase; 
	font-size: 10px;
	background-image: url(/images/grey.png);
	text-align: right; 
	padding: 0.25em 1em 0.125em 0; 
	border-bottom: 1px solid #000;
}

div#main2 p{
	padding: 0.5em 1em; 
	margin: 0;
}

div#copyrights{
	background-image: url(/images/starsfade.png);
	font-size: 10px;
	text-align: center;
	margin: 0;
	border-top: 1px solid #000;
}

#inputbox{
	background-color: black;
	background: url('/images/barbg.jpg');
	border-bottom: 1px solid #333333;
	border-left: 1px solid #666666;
	border-right: 1px solid #333333;
	border-top: 1px solid #666666;
	color: white;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9px;
	text-align: left
}

#abutton{
	background-color: #222;
	border-bottom: 1px solid #444;
	border-left: 1px solid #333;
	border-right: 1px solid #444;
	border-top: 1px solid #333;
	color: white;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9px;
	text-align: center
}

/* Hyperlinks */
a:link{
	color: lime;
	text-decoration: underline;
	text-transform: none; 
}

a:visited{
	color: lime;
	text-decoration: underline;
	text-transform: none;
}

a:active{
	color: lime;
	text-decoration: underline;
	text-transform: none;
}

a:hover{
	color: #FF0000;
	text-decoration: underline;
	text-transform: none;
}

#code{
	color: #33FF00;				 /* Foreground color */
	background: #000;			 /* Background color */
	overflow: auto;				 /* Puts code into scrollable frame if it's too long */
	font: normal 12px "bitstream vera sans mono", monaco "lucida console", "courier new", courier, serif; /* Font */
	background-image: url('../images/barbg.jpg');
	margin: 0.9em 0; padding: 8px; /* Padding */
	/* Set up borders */
	border-width: thin;
	border-style: dotted;
	border-color: #333;
	max-width: 90%;
	text-align: left;
}