<?php

namespace BNETDocs\Templates;

use \BNETDocs\Libraries\Logger;
use \BNETDocs\Libraries\VersionInfo;
use \CarlBennett\MVC\Libraries\Common;

?>
    </main>
    <footer class="main-page<?php if (isset($slim_ui) && $slim_ui) { ?> slim<?php } ?>">
      <p><?php if ( VersionInfo::$version->bnetdocs ) { ?><a href="https://github.com/BNETDocs/bnetdocs-web/tree/<?php echo VersionInfo::$version->bnetdocs[1]; ?>" rel="external" title="Contribute to the BNETDocs source code!">BNETDocs <?php echo VersionInfo::$version->bnetdocs[0]; ?></a><?php } else { ?>(Development)<?php } ?> &copy; 2003-2018 BNETDocs | <a href="<?php echo Common::relativeUrlToAbsolute("/legal"); ?>" rel="external" title="BNETDocs Legal Policies">Legal page</a></p>
      <p style="font-size:smaller;">
BNETDocs is a documentation and discussion website for Blizzard Entertainment's
Battle.net&trade; and in-game protocols. You hereby acknowledge that BNETDocs
content is offered as is and without warranty. BNETDocs content may be
inaccurate as it is solely from third-party observations. BNETDocs is not
affiliated or partnered with Blizzard Entertainment in absolutely any way.
Battle.net&trade;, Starcraft&trade;, Warcraft&trade;, and Diablo&trade; are
trademarks or registered trademarks of Blizzard Entertainment, Inc., in the U.S.
and/or other countries.
      </p>
    </footer>
<?php echo Logger::getTimingFooter(); ?>
  </body>
</html>
