<?php

namespace BNETDocs\Templates;

use \BNETDocs\Libraries\Authentication;
use \BNETDocs\Libraries\Logger;
use \BNETDocs\Libraries\User;

use \CarlBennett\MVC\Libraries\Common;

if ( isset( Authentication::$user  )) {
  $_header_user     = Authentication::$user;
  $_header_user_url = $_header_user->getURI();
  $_header_staff    = ($_header_user && $_header_user->isStaff());
} else {
  $_header_user     = null;
  $_header_user_url = null;
  $_header_staff    = null;
}

?><!DOCTYPE html>
<html lang="en-US">
  <head>
<?php echo Logger::getTimingHeader(); ?>
    <title><?php echo $title; ?> - BNETDocs</title>
<?php if (isset($url) && !empty($url)) { ?>
    <link rel="canonical" href="<?php echo $url; ?>"/>
<?php } ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<?php if (Common::$config->bnetdocs->mobile_site_enabled) { ?>
    <link rel="stylesheet" href="<?php echo Common::relativeUrlToAbsolute("/a/main.css"); ?>" type="text/css" media="(min-width:1000px)"/>
    <link rel="stylesheet" href="<?php echo Common::relativeUrlToAbsolute("/a/main-mobile.css"); ?>" type="text/css" media="(max-width:999px)"/>
<?php } else { ?>
    <link rel="stylesheet" href="<?php echo Common::relativeUrlToAbsolute("/a/main.css"); ?>" type="text/css" media="all"/>
<?php }
      foreach ($this->additional_css as $path) { ?>
    <link rel="stylesheet" type="text/css" href="<?php echo Common::relativeUrlToAbsolute($path); ?>" media="all"/>
<?php } ?>
    <link rel="icon" href="<?php echo Common::relativeUrlToAbsolute("/a/VSZX0bJ.png"); ?>" type="image/png" sizes="156x174"/>
    <link rel="stylesheet" type="text/css" href="<?php echo Common::relativeUrlToAbsolute("/a/font/SourceSansPro-Regular-201508251844.css"); ?>"/>
    <link rel="stylesheet" type="text/css" href="<?php echo Common::relativeUrlToAbsolute("/a/font/SourceCodePro-Regular-201508251844.css"); ?>"/>
    <script type="text/javascript" src="<?php echo Common::relativeUrlToAbsolute("/a/BNETDocs.js"); ?>" async><![CDATA[]]></script>
<?php if (Common::$config->bnetdocs->battleforthenet) { ?>
    <script type="text/javascript" src="<?php echo Common::relativeUrlToAbsolute(Common::$config->bnetdocs->battleforthenet); ?>" async><![CDATA[]]></script>
<?php } ?>
    <link rel="alternate" href="<?php echo Common::relativeUrlToAbsolute("/news.rss"); ?>" type="application/rss+xml" title="BNETDocs News"/>
    <link rel="license" href="<?php echo Common::relativeUrlToAbsolute("/legal"); ?>"/>
    <meta name="keywords" content="battle.net,starcraft,warcraft,diablo,blizzard,logon sequences,packets,information,protocols,reference,programming,coding"/>
<?php if (!empty($description)) { ?>
    <meta name="description" content="<?php echo $description; ?>"/>
    <meta property="og:description" content="<?php echo $description; ?>"/>
    <meta property="twitter:description" content="<?php echo $description; ?>"/>
<?php } ?>
    <meta property="og:site_name" content="BNETDocs"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:site" content="@BNETDocs"/>
    <meta property="og:title" content="<?php echo $title; ?>"/>
    <meta property="twitter:title" content="<?php echo $title; ?>"/>
<?php
    $ogimage = false; $ogtype = false;
    foreach ($this->opengraph as $og) {
      $ogkey = $og->getKey();
      $ogval = $og->getValue();
      if ($ogkey == "image") $ogimage = true;
      if ($ogkey == "type") $ogtype = true;
      if ($ogkey == "url" || $ogkey == "image") $ogval = Common::relativeUrlToAbsolute($ogval);
?>
    <meta property="og:<?php echo $ogkey; ?>" content="<?php echo $ogval; ?>"/>
<?php } if (!$ogimage) { ?>
    <meta property="og:image" content="<?php echo Common::relativeUrlToAbsolute("/a/eNoi70A.png"); ?>"/>
<?php } if (!$ogtype) { ?>
    <meta property="og:type" content="website"/>
<?php } ?>
  </head>
  <body>
    <header class="main-page"><img src="<?php echo Common::relativeUrlToAbsolute("/a/VSZX0bJ.png"); ?>" style="float:left;margin-right:6px;height:32px;"/> BNETDocs<span id="mobile-nav">&#9776;</span></header>
<?php if (!(isset($slim_ui) && $slim_ui)) { ?>
    <nav>
      <a>Portal</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/news"); ?>">News</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/credits"); ?>">Contributors</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/index"); ?>">Members</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/servers"); ?>">Server List</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/legal"); ?>">Legal Policies</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/donate"); ?>">Donate</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("//files.bnetdocs.org/"); ?>">BNETDocs Archive</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("//redux.bnetdocs.org/"); ?>">BNETDocs Redux</a>
      <a>Account Management</a>
<?php if ($_header_user) { ?>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/logout"); ?>">Logout</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/changepassword"); ?>">Change Password</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/update"); ?>">Update Profile</a>
      <a href="<?php echo Common::relativeUrlToAbsolute($_header_user_url); ?>">View Profile</a>
<?php } else { ?>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/login"); ?>">Account Login</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/user/register"); ?>">Create Account</a>
<?php } ?>
      <a>Documentation</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/document/index"); ?>">Document Index</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/document/search"); ?>">Search Documents</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/document/popular"); ?>">Popular Documents</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/packet/index"); ?>">Packet Index</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/packet/search"); ?>">Search Packets</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/packet/popular"); ?>">Popular Packets</a>
<?php if ($_header_staff) { ?>
      <a>Administration</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/document/create"); ?>">Create Document</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/news/create"); ?>">Create News Post</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/packet/create"); ?>">Create Packet</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/server/create"); ?>">Create Server</a>
      <a href="<?php echo Common::relativeUrlToAbsolute("/eventlog/index"); ?>">Event Log</a>
<?php } ?>
    </nav>
    <main>
<?php } else { ?>
    <main class="slim">
<?php } ?>
