[mysqld]
bind-address=*
binlog-format=row
character-set-server=utf8
collation-server=utf8_unicode_ci
datadir=/var/lib/mysql
default-storage-engine=InnoDB
innodb-buffer-pool-size=640M
innodb_buffer_pool_instances=1
innodb_file_per_table=ON
innodb_log_file_size=80M
log-bin=/var/lib/mysql/mysql-log-bin
max-allowed-packet=512M
max-connections=160
max-heap-table-size=32M
performance_schema=ON
query_cache_size=16M
query_cache_type=1
server-id=1
socket=/var/lib/mysql/mysql.sock
sql-mode=TRADITIONAL,NO_AUTO_VALUE_ON_ZERO
thread_cache_size=4
tmp-table-size=32M
