@font-face {
  font-family: source sans pro;
  src: url('/font-source-sans-pro.ttf');
}

body {
  background: url('/main_bg.png') repeat center;
  color: #ddd;
  font: 11pt sans-serif;
  margin: 48px 0px 48px 0px;
  padding: 0px;
}

a, a:link {
  color: #00c0ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #00a0cf;
}

body > #header {
  background-color: rgba(64, 64, 64, 0.8);
  box-sizing: border-box;
  cursor: default;
  color: rgba(0, 222, 180, 0.9);
  font: 20pt source sans pro;
  left: 0px;
  line-height: 32px;
  padding: 8px 12px;
  position: fixed;
  right: 0px;
  top: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body > #container {
  margin: auto;
  width: 800px;
}

body > #container > .sidebar {
  background-color: rgba(64, 64, 64, 0.6);
  border-radius: 0px 0px 8px 8px;
  cursor: default;
  float: left;
  font: 12pt arial, verdana, sans-serif;
  line-height: 22px;
  margin: 0px 8px;
  padding: 10px;
  width: 200px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body > #container > .sidebar > a {
  cursor: pointer;
  display: block;
  padding-left: 10px;
}

body > #container > .sidebar > a:hover {
  background-color: rgba(128, 128, 128, 0.15);
  text-decoration: none;
}

body > #container > #content {
  margin: 0px 0px 0px 224px;
  padding: 10px 8px 0px 16px;
}