<?php

namespace BNETDocs\Templates\Packet;

use \BNETDocs\Libraries\Authentication;
use \BNETDocs\Libraries\Comment;
use \BNETDocs\Libraries\User;

use \CarlBennett\MVC\Libraries\Common;
use \CarlBennett\MVC\Libraries\Pair;

$comments  = $this->getContext()->comments;
$object_id = $this->getContext()->packet_id;
$object    = $this->getContext()->packet;

$logged_in    = Authentication::$user;
$logged_in_id = ($logged_in ? $logged_in->getId() : null);

$title       = "Packet Not Found";
$description = "The requested packet does not exist or could not be found.";

$this->opengraph->attach(new Pair("type", "article"));

$url = Common::relativeUrlToAbsolute("/packet/" . urlencode($object_id));

if ($object) {

  $url       = $object->getURI();
  $packet_id = $object->getPacketId(true);

  $title = $object->getPacketDirectionTag() . ' '
    . $packet_id . ' '
    . $object->getPacketName();

  $description = Common::stripUpTo(trim(filter_var(
    $object->getPacketRemarks(true), FILTER_SANITIZE_STRING
  )), "\n", 300);

  if ($object->getUserId() !== null) {
    $user_name   = $object->getUser()->getName();
    $user_id     = $object->getUserId();
    $user_url    = $object->getUser()->getURI();
    $user_avatar = $object->getUser()->getAvatarURI(22);
  } else {
    $user_name   = null;
    $user_id     = null;
    $user_url    = null;
    $user_avatar = null;
  }

}

$this->opengraph->attach(new Pair("url", $url));

$edit_url       = Common::relativeUrlToAbsolute("/packet/edit?id=" . urlencode($object_id));
$delete_url     = Common::relativeUrlToAbsolute("/packet/delete?id=" . urlencode($object_id));
$edit_visible   = ($logged_in && ($logged_in->getOptionsBitmask()
                & User::OPTION_ACL_PACKET_MODIFY));
$delete_visible = ($logged_in && ($logged_in->getOptionsBitmask()
                & User::OPTION_ACL_PACKET_DELETE));

$this->additional_css[] = "/a/table-keypair.css";
$this->additional_css[] = "/a/comments.css";
if ($logged_in) $this->additional_css[] = "/a/forms.css";
require("./header.inc.phtml");
?>
      <article>
<?php if ($object) { ?>
        <a href="https://plus.google.com/share?url=<?php echo urlencode($url); ?>" rel="external" data-popup="1"><img class="header-button float-right" src="<?php echo Common::relativeUrlToAbsolute("/a/social-gplus-24px.png"); ?>"/></a>
        <a href="https://twitter.com/share?text=<?php echo urlencode($packet_id . " " . $object->getPacketName()); ?>&amp;url=<?php echo urlencode($url); ?>" rel="external" data-popup="1"><img class="header-button float-right" src="<?php echo Common::relativeUrlToAbsolute("/a/social-twitter-24px.png"); ?>"/></a>
        <a href="https://facebook.com/sharer/sharer.php?u=<?php echo urlencode($url); ?>" rel="external" data-popup="1"><img class="header-button float-right" src="<?php echo Common::relativeUrlToAbsolute("/a/social-facebook-24px.png"); ?>"/></a>
<?php if ($edit_visible) { ?>
        <a href="<?php echo $edit_url; ?>" class="header-button float-right">Edit</a>
<?php } ?>
<?php if ($delete_visible) { ?>
        <a href="<?php echo $delete_url; ?>" class="header-button float-right">Delete</a>
<?php } ?>
        <header><a href="<?php echo $url; ?>"><?php echo filter_var($title, FILTER_SANITIZE_STRING); ?></a></header>
        <section>
          <table class="info"><tbody>
            <tr><th style="width:20%;">Message Id:</th><td><?php echo $packet_id; ?></td></tr>
            <tr><th>Message Name:</th><td><?php echo filter_var($object->getPacketName(), FILTER_SANITIZE_STRING); ?></td></tr>
            <tr><th>Direction:</th><td><?php echo filter_var($object->getPacketDirectionLabel(), FILTER_SANITIZE_STRING); ?></td></tr>
            <tr><th>Used By:</th><td><?php
              $products = $this->getContext()->used_by;
              if (count($products) == 0) {
                echo '<em>(nothing or unknown)</em>';
              } else if (count($products) == 1) {
                echo filter_var($products[0]->getLabel(), FILTER_SANITIZE_STRING);
              } else {
                $j = count($this->getContext()->used_by);
                for ($i = 0; $i < $j; ++$i) {
                  echo filter_var($this->getContext()->used_by[$i]->getLabel(), FILTER_SANITIZE_STRING);
                  if ($i + 1 < $j) {
                    ++$i;
                    echo ', ';
                    echo filter_var($this->getContext()->used_by[$i]->getLabel(), FILTER_SANITIZE_STRING) . "<br/>";
                  } else {
                    echo "<br/>";
                  }
                }
              }
            ?></td></tr>
            <tr><th>Format:</th><td><p><pre><code><?php echo $object->getPacketFormat(); ?></code></pre></p></td></tr>
          </tbody></table>
        </section>
        <header>Remarks</header>
        <section>
<?php echo $object->getPacketRemarks(true); ?>
        </section>
        <footer>
<?php if ($object->getEditedDateTime() !== null) { ?>
          <span class="float-right"><time datetime="<?php echo $object->getCreatedDateTime()->format('c'); ?>"><?php echo $object->getCreatedDateTime()->format("l, F j, Y"); ?></time> | Edited: <time datetime="<?php echo $object->getEditedDateTime()->format('c'); ?>"><?php echo $object->getEditedDateTime()->format("l, F j, Y"); ?></time></span>
<?php } else { ?>
          <span class="float-right"><time datetime="<?php echo $object->getCreatedDateTime()->format('c'); ?>"><?php echo $object->getCreatedDateTime()->format("l, F j, Y"); ?></time></span>
<?php } ?>
<?php if ($user_id !== null) { ?>
          <span><a href="<?php echo $user_url; ?>"><img class="avatar" src="<?php echo $user_avatar; ?>"/> <?php echo filter_var($user_name, FILTER_SANITIZE_STRING); ?></a></span>
<?php } ?>
        </footer>
      </article>
      <article>
        <header><a name="comments">Comments</a></header>
        <section>
<?php if (!$comments) { ?>
          <p class="center"><em>no one has commented yet.</em></p>
<?php } else {
$c_edit_visible_master   = ($logged_in && ($logged_in->getOptionsBitmask() & User::OPTION_ACL_COMMENT_MODIFY));
$c_delete_visible_master = ($logged_in && ($logged_in->getOptionsBitmask() & User::OPTION_ACL_COMMENT_DELETE));
?>
          <table class="comments"><tbody>
<?php foreach ($comments as $c) {
        $c_id          = $c->getId();
        $c_user        = $c->getUser();
        $c_user_name   = $c_user->getName();
        $c_user_id     = $c->getUserId();
        $c_user_url    = $c_user->getURI();
        $c_user_avatar = $c_user->getAvatarURI(22);

        $c_edit_visible = ($c_user_id == $logged_in_id || $c_edit_visible_master);
        $c_delete_visible = ($c_user_id == $logged_in_id || $c_delete_visible_master);
?>
            <tr><td><a href="<?php echo $c_user_url; ?>"><img class="avatar" src="<?php echo $c_user_avatar; ?>"/> <?php echo filter_var($c_user_name, FILTER_SANITIZE_STRING); ?></a><br/><time class="comment_timestamp" datetime="<?php echo $c->getCreatedDateTime()->format("c"); ?>"><?php echo $c->getCreatedDateTime()->format("D M j, Y g:ia T"); ?></time><?php if ($c_delete_visible) { ?><a class="button comment_button" href="<?php echo Common::relativeUrlToAbsolute("/comment/delete?id=" . urlencode($c_id)); ?>">Delete</a><?php } if ($c_edit_visible) { ?><a class="button comment_button" href="<?php echo Common::relativeUrlToAbsolute("/comment/edit?id=" . urlencode($c_id)); ?>">Edit</a><?php } ?></td><td><?php echo $c->getContent(true); ?></td></tr>
<?php } ?>
          </tbody></table>
<?php } ?>
        </section>
<?php if ($logged_in) { ?>
        <section>
          <hr/>
          <form method="POST" action="<?php echo Common::relativeUrlToAbsolute("/comment/create"); ?>">
            <input type="hidden" name="parent_type" value="<?php echo Comment::PARENT_TYPE_PACKET; ?>"/>
            <input type="hidden" name="parent_id" value="<?php echo $object_id; ?>"/>
            <p class="center"><label for="comment-content">Comment on this post:</label></p>
            <p class="center"><textarea id="comment-content" name="content" cols="80" rows="5"></textarea></p>
            <p class="center"><input type="submit" value="Comment"/></p>
          </form>
        </section>
<?php } ?>
<?php } else { ?>
        <header class="red"><?php echo filter_var($title, FILTER_SANITIZE_STRING); ?></header>
        <section class="red"><?php echo filter_var($description, FILTER_SANITIZE_STRING); ?></section>
<?php } ?>
      </article>
<?php require("./footer.inc.phtml"); ?>
